{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&amp;display=swap" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
<div id="root">

    <div class="App">

        <div class="borderContainer">
            </a>
            <header class="registrHeader">
                <div><span>Sphere</span>
                    <p>candle</p>
                </div>
                <h4 class="USER">{{ request.user }}</h4>
                <img src="{% static 'peaple.svg' %}">
            </header>
            <div class="greyLine"></div>
            <div class="header_container">
                <button class="aheader_button" onclick="window.location='/logout/';">Выход</button>
            </div>
            <div class="castombuy">
                <span class="profileorderingheader">Ваши заказы на кастомные свечи:</span>
                <span class="profileordering">Заказ - тип ( {{ orders.candle_t}} ), цвет ( {{ orders.candle_color}} ), объем мл ( {{ orders.candle_volume}} ), аромат ( {{ orders.candle_flavor}} ), цена ( {{ orders.price}} )  СТАТУС - {{ orders.status }} </span>
                <span class="profileaddres">Адрес  доставки {{ orders.address}}</span>
            </div>
            <div class="standartbuy">
                <span class="standartbuyprofileorderingheader">Ваши заказы на обычные свечи:</span>
                <span class="standartbuyprofileordering">Заказ - объем мл ( {{ Buy.volume}} ), аромат ( {{ Buy.flavor}} ), цена ( {{ Buy.price}} ) СТАТУС - {{ Buy.status }} </span>
                <span class="standartbuyprofileaddres">Адрес  доставки {{ Buy.address}}</span>
            </div>
            <form class="addresAdd" action="" method="post">{% csrf_token %}
                <h1>Ваш адрес: {{ address }}</h1>
                <input id="wdwdw" name="address" placeholder="Ваш адрес для доставки" value>
                <div class="addresAddapply">Сохранить</div>
                <div class="addresapplyArrow"></div>
                <input class="addresapplyEllipse" type="image" name="submit" src="{% static 'circle.svg' %}"
                       alt="Submit">
                {% for message in messages %}
                <a id="messages">{{ message }}</a>
                {% endfor %}
            </form>
        </div>
        <a href="/">
            <div class="backButton"><img
                    src="{% static 'left.svg' %}"><span>назад</span>
            </div>
        </a>
        <footer>
            <div style="margin-right: 28px;"><span class="GetCloserTo">Get closer to</span>
                <p class="FollowOurInstagram">Follow our Instagram</p></div>
            <div><span class="Sphere">Sphere</span>
                <p class="candle" style="text-align: end;">candle</p></div>
        </footer>
    </div>
</div>
</div>
</body>
</html>