<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&amp;display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<div id="root">
    <div class="App">
        <header>
            <div class="header_wrapper">
                <div class="header_container">
                    <div class="header_logo"><h2>Sphere</h2></div>
                    <a href="/SignIn">
                        <button class="header_button">Log in</button>
                    </a></div>
            </div>
        </header>
        <main>
            <div class="main_wrapper">
                <div class="main_container">
                    <div class="main_img"></div>
                    <div class="main_layer"><h1>Sphere</h1>
                        <p>Экологичные свечи с необычными ароматами для твоего интерьера</p>
                        <div class="main_customize"><p>Customize</p>
                            <div class="arrow"></div>
                            <div class="range"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <section class="explore">
            <div class="explore_wrapper">
                <div class="explore_container"><h2 class="explore_heading">EXPLORE</h2>
                    <div class="explore_mainContainer">
                        <div class="explore_blackCoconut"><h3 class="explore_coconut">Black Coconut</h3>
                            <p class="explore_composition"><span>Состав:</span> груша, гардения, орхидея, ваниль,
                                сандал, мускус, кедр, черный перец.</p>
                            <p class="explore_price"><span>Объем:</span> 200мл<span> Цена: 27 BYN</span></p>
                            <button class="explore_button">Customize</button>
                        </div>
                        <div class="explore_imgWrapper">
                            <div class="explore_imgContainer">
                                <div class="explore_img"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ContainerCandel_1">
            <div class="ContainerPictureCandle">
                <div class="Sqare"><img src="/static/media/candel3.120873f0a82656e6ebdbdb944ad98ab8.svg"
                                        style="margin: 70px 55px;"></div>
            </div>
            <div class="textBlock"><a>Annette</a>
                <p><span>Состав:</span> соевый воск. Женское тело, 10см, в молочном цвете
                <p><span>Объем:</span> 100 мл</p>
                <p><span>Цена: 25 BYN</span></p></p>
                <button>Customize</button>
            </div>
        </section>
        <section class="ContainerCandel_2">
            <div class="textBlock" style="width: 293px;"><a>Berry Punch</a>
                <p><span>Состав:</span> апельсин, яблоко, малина, клубника, земляника, кубинский ром, корица, ваниль.
                <p><span>Объем:</span> 200 мл</p>
                <p><span>Цена: 30 BYN</span></p></p>
                <button>Customize</button>
            </div>
            <div class="ContainerPictureCandle">
                <div class="Sqare"><img src="/static/media/candel4.21e9db3386e5e9f8b2c024e788762c97.svg"
                                        style="margin: 70px 55px;"></div>
            </div>
        </section>

    </div>
    <footer>
            <div style="margin-right: 28px;"><span class="GetCloserTo">Get closer to</span>
                <p class="FollowOurInstagram">Follow our Instagram</p></div>
            <div><span class="Sphere">Sphere</span>
                <p class="candle" style="text-align: end;">candle</p></div>
        </footer>
</div>
</body>
</html>