{% extends 'main.html' %}
{% block content %}
{% load static %}
<div id="root">
    <div class="App">
        <div class="borderContainer">
            <header class="registrHeader">
                <div><span>Sphere</span>
                    <p>candle</p>
                </div>
                <img src="{% static 'images/peaple.svg' %}"></header>
            <div class="greyLine"></div>
            <div class="header_container"></div>
            <div style="text-align: -webkit-center;">
                <form class='formSignIn' action="" method="post">{% csrf_token %}
                    <h1>Вход</h1>
                    <p>username</p>
                    <input class="email" name="username" value>
                    <p>password</p>
                    <input type="password" class="password" name="password" value>
                    <div class="aBox">
                        <input type="checkbox" id="checkboxInput">
                        <label for="checkboxInput"></label>
                        <a>Запомнить меня</a>
                        <a>Я забыл(а) пароль</a>
                    </div>
                    <button class="buttonSingIn"> Войти</button>
                    <a class="btn btn-primary" href="../register/">Регистрация</a>
                    {% for message in messages %}
                    <div class="messagesUserNotSuccsess">{{ message }}</div>
                    {% endfor %}
                </form>
                <a href="/">
                    <div class="backButton"><img
                            src="{% static 'images/left.svg' %}"><span>назад</span>
                    </div>
                </a>
            </div>
        </div>
        <footer>
            <div style="margin-right: 28px;"><span class="GetCloserTo">Get closer to</span>
                <p class="FollowOurInstagram">Follow our Instagram</p></div>
            <div><span class="Sphere">Sphere</span>
                <p class="candle" style="text-align: end;">candle</p></div>
        </footer>
    </div>
</div>
{% endblock content %}